<div class="footer" id="about" style="max-width:none;width:100%;">
  <h2> About me </h2>
  <p style="padding-left:10%;padding-right:10%;text-align:center"> {{site.user_description}} </p>
</div>
<section id="projects">

  <h3> Programming Languages </h3>
  <div class="user">
    <div class="tech">
      <h4> Excellent knowledge </h4>
      <img src="{{"/assets/img/programming/python.png" | prepend: site.baseurl}}" />
      <img src="{{"/assets/img/programming/c.png" | prepend: site.baseurl}}" />
      <img src="{{"/assets/img/programming/csharp.png" | prepend: site.baseurl}}" />
      <img src="{{"/assets/img/programming/java.png" | prepend: site.baseurl}}" />
    </div>
    <div class="tech">
      <h4> Good knowledge </h4>
      <img src="{{"/assets/img/programming/cplusplus.png" | prepend: site.baseurl}}" />
      <img src="{{"/assets/img/programming/css3.png" | prepend: site.baseurl}}" />
      <img src="{{"/assets/img/programming/html5.png" | prepend: site.baseurl}}" />
      <img src="{{"/assets/img/programming/matlab.png" | prepend: site.baseurl}}" />
    </div>
    <div class="tech">
      <h4> Basic knowledge </h4>
      <img src="{{"/assets/img/programming/js.png" | prepend: site.baseurl}}" />
      <img src="{{"/assets/img/programming/react.png" | prepend: site.baseurl}}" />
      <img src="{{"/assets/img/programming/julia.png" | prepend: site.baseurl}}" />
      <img src="{{"/assets/img/programming/rust.png" | prepend: site.baseurl}}" />
    </div>
  </div>

  <h3> Development platforms </h3>
  <div class="user">
    <div class="tech">
      <h4> Application </h4>
      <img src="{{ "/assets/img/development/android.png" | prepend: site.baseurl }}" />
      <img src="{{ "/assets/img/development/linux.png" | prepend: site.baseurl }}" />
      <img src="{{ "/assets/img/development/windows.png" | prepend: site.baseurl }}" />
    </div>
    <div class="tech">
      <h4> Embedded </h4>
      <img src="{{ "/assets/img/development/dsp.png" | prepend: site.baseurl }}" />
      <img src="{{ "/assets/img/development/soc.png" | prepend: site.baseurl }}" />
      <img src="{{ "/assets/img/development/gpu.png" | prepend: site.baseurl }}" />
    </div>
    <div class="tech">
      <h4> Cloud </h4>
      <img src="{{ "/assets/img/development/azure.png" | prepend: site.baseurl }}" />
      <img src="{{ "/assets/img/development/aws.png" | prepend: site.baseurl }}" />
      <img src="{{ "/assets/img/development/ovh.png" | prepend: site.baseurl }}" />
    </div>
  </div>

  <h3> Languages </h3>
  <div class="user" style="justify-content: space-between;">
    <div class="tech">
      <h4> English </h4>
      <img src="{{"/assets/img/language/flag_uk.png" | prepend: site.baseurl}}" />
      <img src="{{"/assets/img/language/flag_us.png" | prepend: site.baseurl}}" />
      <p> Fluent </p>
    </div>
    <div class="tech">
      <h4> French </h4>
      <img src="{{"/assets/img/language/flag_fr.png" | prepend: site.baseurl}}" />
      <p> Native </p>
    </div>
    <div class="tech">
      <h4> Italian </h4>
      <img src="{{"/assets/img/language/flag_it.png" | prepend: site.baseurl}}" />
      <p> Basic </p>
    </div>
  </div>

  <h3> Sports </h3>
  <div class="user">
    <div class="tech">
      <h4> Martial Arts </h4>
      <img src="{{"/assets/img/sport/judo.png" | prepend: site.baseurl}}" />
      <img src="{{"/assets/img/sport/karate.png" | prepend: site.baseurl}}" />
      <img src="{{"/assets/img/sport/boxing.png" | prepend: site.baseurl}}" />
    </div>
    <div class="tech">
      <h4> Individual sports </h4>
      <img src="{{"/assets/img/sport/running.png" | prepend: site.baseurl}}" />
      <img src="{{"/assets/img/sport/swimming.png" | prepend: site.baseurl}}" />
      <img src="{{"/assets/img/sport/fitness.png" | prepend: site.baseurl}}" />
    </div>
    <div class="tech">
      <h4> Team sports </h4>
      <img src="{{"/assets/img/sport/basketball.png" | prepend: site.baseurl}}" />
      <img src="{{"/assets/img/sport/handball.png" | prepend: site.baseurl}}" />
    </div>
  </div>

  <div class="world-map">
    <h3> Country where I traveled </h3>
    <img src="{{"/assets/img/world_map.png" | prepend: site.baseurl}}" />
  </div>

</section>