<section id="projects">
  <div class="user-transition" id="educations">
    <h1> Education and training </h1>
  </div>

  <div class="user-presentation">
    <div class="images-left">
      <img alt="ECE" src="{{ "/assets/img/education/ECE.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Graduate engineering school in Paris </h3>
      <p> September 2013 to june 2016, Paris France </p>
      <ul>
        <li> Major in embedded system </li>
        <li> Minor in management </li>
        <li> Deepening in aeronautics </li>
      </ul>
      <a class="project-link" href="https://www.ece.fr/lp/index.php">Website</a>
    </div>
  </div>
  <div class="user-presentation">
    <div class="images-left">
      <img alt="UCIrvine" src="{{ "/assets/img/education/UCIrvine.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Seminare : Global business & manufacturing management </h3>
      <p> Auguste to september 2015, Irvine USA </p>
      <ul>
        <li> Global marketing </li>
        <li> Business Management </li>
        <li> Manufacturing Management </li>
      </ul>
      <a class="project-link" href="https://uci.edu/">Website</a>
    </div>
  </div>
  <div class="user-presentation">
    <div class="images-left">
      <img alt="UNIKL" src="{{ "/assets/img/education/UNIKL.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Exchange student in Engineering in Malaysian Institute of Information Technology </h3>
      <p> January to june 2014, Kuala-Lumpur Malaysia </p>
      <ul>
        <li> Innovation management </li>
        <li> Object-oriented programming </li>
        <li> Probability and statistics </li>
        <li> Signals and systems </li>
      </ul>
      <a class="project-link" href="https://www.unikl.edu.my/">Website</a>
    </div>
  </div>
  <div class="user-presentation">
    <div class="images-left">
      <img alt="lyceeGustaveMonod" src="{{ "/assets/img/education/lyceeGustaveMonod.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Two-year undergraduate intensive course in mathematics, physics and chemistry </h3>
      <p> September 2011 to june 2013, Enghien-Les-Bains France </p>
      <ul>
        <li> First year in PCSI : Physics Chemistry and Engineering Sciences </li>
        <li> Second year in PC : Physics & Chemistry </li>
      </ul>
      <a class="project-link" href="https://www.unikl.edu.my/">Website</a>
    </div>
  </div>
</section>