<section id="projects">
  <div class="user-transition" id="experiences">
    <h1> Work experience </h1>
  </div>

  <div class="user-presentation">
    <div class="images-left">
      <img alt="Thales" src="{{ "/assets/img/experience/Thales.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> CyberSecurity Engineer </h3>
      <p> Current job: since July 2019, Gennevilliers (92)</p>
      <div class="custom-img">
        <img src="{{"/assets/img/experience/cybersecurity.png" | prepend: site.baseurl}}"/>
      </div>
      <a class="project-link" href="https://www.thalesgroup.com/">Website</a>
    </div>
  </div>

  <div class="user-presentation">
    <div class="images-left">
      <img alt="Thales" src="{{ "/assets/img/experience/Thales.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Embedded Software Engineer for Radiocommunication products </h3>
      <p> 3 years: September 2016 to Auguste 2019, Gennevilliers (92)</p>
      <ul>
        <li> Design, development and validation of real-time aeronautical software with DO-178B </li>
        <li> Study and development of black box equipment simulation model with ARINC 610C</li>
        <li> Transcoding codes from MIT to new generation Airborne Collision Avoidance System (ACAS) product </li>
        <li> Safety component assessment: ST33 (TPM) </li>
        <li> Software project management </li>
        <li> Contribution to internal Thales innovations </li>
      </ul>
      <a class="project-link" href="https://www.thalesgroup.com/">Website</a>
    </div>
  </div>

  <div class="user-presentation">
    <div class="images-left">
      <img alt="Thales" src="{{ "/assets/img/experience/Thales.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> End of study internship in the transverse innovative projects team </h3>
      <p> 6 months: February to Auguste 2016, Gennevilliers (92)</p>
      <ul>
        <li> Study and development of a generic maintenance architecture adaptable to several systems </li>
        <li> Development of a Gateway Multiple interfaces (Wifi, Ethernet, NFC, LoRa) on IMX6 (ARM Cortex-A9 multicore): multi-threaded, C </li>
        <li> Implementation of LoRa multichannel radio communication </li>
        <li> Development of test scripts: Bash, Python, JAVA </li>
        <li> Android supervision application: JAVA, HTML, Javascript, CSS </li>
      </ul>
      <a class="project-link" href="https://www.thalesgroup.com/">Website</a>
    </div>
  </div>

  <div class="user-presentation">
    <div class="images-left">
      <img alt="Eutelsat" src="{{ "/assets/img/experience/Eutelsat.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Internship in satellite monitoring team and ground sites </h3>
      <p> 4 months: April to Auguste 2015, Rambouillet (78) </p>
      <ul>
        <li> Development of supervision tools for 25 international teleports </li>
        <li> .Net Environment: C#, JavaScript, Html </li>
        <li> Implementation of Redmine project management server: Ruby </li>
        <li> Scripts: C#, Bash, Python, Perl </li>
      </ul>
      <a class="project-link" href="https://www.eutelsat.com/">Website</a>
    </div>
  </div>
  
  <div class="user-presentation">
    <div class="images-left">
      <img alt="Kelnomad" src="{{ "/assets/img/experience/Kelnomad_dark.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Android developer </h3>
      <p> 2 months fixed-term employee: June to July 2014, Noisy-Le-Grand (93)</p>
      <ul>
        <li> Android application development: JAVA, SQLite & XML </li>
        <li> Synchronisation with a Windows Webservice (WCF): C# & exchange in XML </li>
        <li> Flat Design </li>
      </ul>
      <a class="project-link" href="http://www.kelnomad.fr/">Website</a>
    </div>
  </div>

  <div class="user-presentation">
    <div class="images-left">
      <img alt="Aviva" src="{{ "/assets/img/experience/Aviva.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Administrative employee </h3>
      <p> Fixed-term employee during school vacation: 2011, 2012, 2013 & 2014 </p>
      <ul>
        <li> Life insurance management </li>
        <li> Financial operation: arbitrage, repurchase, collateral, etc. </li>
      </ul>
      <a class="project-link" href="https://www.aviva.fr/">Website</a>
    </div>
  </div> 
</section>