<footer class="footer">
    <p>&copy; {{site.username}} &#129497;</p>
    <p>Thanks to <a href="https://github.com/nrandecker">Nathan Randecker</a> for the template</p>
</footer>
<!-- Matomo Image Tracker-->
<img src="https://changeur.matomo.cloud/matomo.php?idsite=2&amp;rec=1&amp;action_name=Cl%C3%A9ment+Changeur" style="border:0" alt="" />
<!-- End Matomo -->
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="/assets/js/sweet-scroll.min.js"></script>
<script src="/assets/js/main.js"></script>
{% include google-analytics.html %}
