<div id="particles-js" id="top">
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:clement@changeur.com"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/cl%C3%A9ment-changeur-5532897b/"><i
          class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/clement_c"><i class="icon fa fa-instagram"
          aria-hidden="true"></i></a>
    </div>
    <div class="header-links">
      <a class="link" href="#experiences" data-scroll>Work experience</a>
      <a class="link" href="#educations" data-scroll>Education and training</a>
      <a class="link" href="#about" data-scroll>About me</a>
    </div>
  </div>
  <a class="down" href="#experiences" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
